@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: red;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: red;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gray-100 text-gray-800;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
